/* Notificaciones ******************************************************/

.notificaciones {
	border: 1px solid red;
	border-radius: 5pt;
	background: rgb(255, 255, 109);
	padding: 0pt 5pt 5pt 5pt;
	margin: 5pt;
	margin-top: 1pt;

	-webkit-box-shadow: 5px 7px 5px 0px rgba(255, 0, 0, 0.49);
	-moz-box-shadow: 5px 7px 5px 0px rgba(255, 0, 0, 0.49);
	box-shadow: 5px 7px 5px 0px rgba(255, 0, 0, 0.49);
}

.notificaciones ul {
	margin: 3pt;
}

.notificaciones li {
	margin: 2pt;
}

.notificaciones li button {
	float: right;
}

.center {
	text-align: center;
}
/* Formularios ******************************************************/
.error {
	color: red;
}

form .ng-pristine {
	border-color: navy;
	box-shadow: 5px 5px 5px navy;
}

form .ng-dirty {
	border-color: green;
	box-shadow: 5px 5px 5px green;
}

form .ng-invalid {
	border-color: red;
	box-shadow: 5px 5px 5px red;
	transform: scale(1.1);
	transition: all linear 1s;
}

form .ng-invalid-parse {
	transition: all linear 1s;
}

/* Animaciones ******************************************************/

.anima {
	transition: all linear 0.5s;
	background-color: lightblue;
	height: 100px;
  }
  
.anima.ng-hide {
	height: 0;
}
/* Calculadora *****************************************************/
.Calculadora {
	background-color: #e6f3ff;
	border-style: outset;
	padding: 6px;
}

.Pantalla {
	background-color: #004000;
	color: yellow;
	border-style: inset;
	padding: 4px;
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btnDigito {
	color: navy;
	width: 100%;
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btnOperar {
	color: red;
	width: 100%;
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tab-pane {
	border: 1px solid black;
	background-color: steelblue;
	padding: 5px;
}
.tab-active {
	border-top-left-radius: 5pt;
	border-top-right-radius: 5pt;
	background-color: steelblue;
	color: white;
	padding: 5pt;
}
.tab-inactive {
	border-top-left-radius: 5pt;
	border-top-right-radius: 5pt;
	background-color: skyblue;
	color: white;
	padding: 5pt;
}
