<!DOCTYPE html>
<html lang="es" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/mi-estilo.css">
    <title>Curso de Angular Expertos</title>
</head>
<body ng-controller="PrincipalController as app">
    <!-- <ng-include src="'views/notification.html'"></ng-include> -->
    <app-notification></app-notification>
    <p>
        <a href="#!/">inicio</a>&nbsp;|&nbsp;
        <a href="#!/como/me/de/la/gana.html">larga</a>&nbsp;|&nbsp;
        <a href="#!/personas">personas</a>&nbsp;|&nbsp;
        <a href="#!/pepito/grillo">pepito</a>&nbsp;|&nbsp;
        <a href="#!/otra/ruta">falsa</a>&nbsp;|&nbsp;
        <a href="#!/calculadora">calculadora</a>&nbsp;|&nbsp;
    </p>
    <div ng-view></div>

    <p>
        <input type="text" ng-model="app.nombre">
        <input type="button" value="Saluda" ng-click="app.saluda()">
        <input type="button" value="Notifica" ng-click="app.notify.add('Esto es una notificacion.')">
        <input type="button" value="Cambia" ng-click="app.cambia()">
    </p>
   <p ng-bind-html="app.resultado"></p>
    <!-- <p class="anima" ng-show="app.visible">{{app.resultado | capitalice}}</p> -->
 
    <my-card titulo="Hola mundo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, consequuntur perspiciatis. Reiciendis sed, non quam modi, aliquam repudiandae cumque fugit corrupti maiores quaerat facilis debitis, eos quae reprehenderit consectetur nihil!</my-card>
    <script type="text/ng-template" id="views/notification.html">
        <div>
            <div class="notificaciones" ng-if="vm.notify.hayMensajes">
                <ul>
                    <li ng-repeat="item in vm.notify.listado">
                        {{item | capitalice}}
                        <button type="button" ng-click="vm.notify.remove($index)">X</button>
                    </li>
                </ul>
                <p class="center">
                    <input type="button" value="Cerra"
                        ng-click="vm.notify.clear()">
                </p>
            </div>
        </div>
    </script>
    <!-- Frameworks Terceros -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular/i18n/angular-locale_es-es.js"></script>
    <script src="vendor/angular/angular-route.js"></script>
    <script src="vendor/angular/angular-animate.js"></script>
    <script src="vendor/angular/angular-route.js"></script>
    <script src="vendor/angular/angular-sanitize.js"></script>

    <!-- Mi código -->
    <script src="js/my-core.js"></script>
    <script src="js/app.js"></script>
    <script src="js/personas.js"></script>
</body>
</html>